<nav class="navbar navbar-expand bg-dark navbar-dark">
  <a class="navbar-brand">FP Advanced Angular</a>
  <div class="nav navbar-nav">
    <a class="nav-link nav-item" routerLink="/">Home</a>
    <a class="nav-link nav-item" routerLink="/products">Products</a>
    <a class="nav-link nav-item" routerLink="/demo">Demo</a>
    <a class="nav-link nav-item" *fpOnlyForLoggedIn routerLink="/contact">Contact</a>
  </div>
  <div>
    <button *ngIf="isLoggedIn$ | async; else login" class="btn btn-danger" (click)="logOut()">LogOut</button>
    <ng-template #login>
      <button  class="btn btn-info" (click)="logIn()">LogIn</button>
    </ng-template>
  </div>
</nav>
